<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
<body>
    <header class="header">
        <div class="title">Movies!</div>
    </header>

     <div class="wrapper">
        <div class="postCustomController">
            <% if(movieData != null) { %>
            <% movieData.forEach(function(singleMovie, index) { %>
                    <img src="<%- singleMovie.image %>" alt="<%- singleMovie.title %>">
                    <h2><%- singleMovie.title %></h2>
                    <p><%- singleMovie.id %></p>
                </a>
            <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
    </div>
 </body>
</html>  