<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Movies</title>
    <link rel="stylesheet" src="css/style.scss">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">Movies</div>
    </header>

     <div class="wrapper">
        <div class="postCustomController">
            <% if(articles != null) { %>
            <% articles.forEach(function(article, index) { %>
                    <img src="<%- article.image %>" alt="<%- article.title %>">
                    <h2><%- article.title %></h2>
                    <p><%- article.image %></p>
                </a>
            <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
    </div>
 </body>
</html>  